form {
  padding: 8px 0px;

  label {
    clear: both;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 20px;
    width: 49%;
    zoom: 1;

    .required {
      color: #ff0000;
    }

    input, textarea {
      font-size: 1em;
      font-weight: normal;
      width: 80%;
    }

    &.checkbox {
      font-size: 1em;
      font-weight: normal;
      margin-bottom: 0;
      width: 100%;

      input {
        margin-right: 5px;
        width: auto;
      }
    }
  }
}
