@import 'compass';

aside {
  a {
    color: #2c2c2c;

    &:hover {
      color: #143192;
    }
  }
}

.sidebox {
  background: #fff;
  @include box-shadow(rgba(0, 0, 0, .25) 0 1px 6px);

  h3 {
    margin: 0;
    color: #fff;
    background-color: #000;
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
  }

  .inside {
    padding: 1em;
  }
}
