@import 'compass';

body {
  background: #ededed;
  color: #474747;
  font-family: 'PT Sans', sans-serif;
}

.main {
  display: inline;
  float: left;
  margin: 20px 1.0416666666666665%;
  width: 66.66666666666666%;
  zoom: 1;

  &.full-width {
    width: 100%;
  }

  .main-text {
    background: #fff;
    @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.25));
    margin-bottom: 10px;
    padding: 20px 20px 10px 20px;

    h2 {
      border-bottom: 1px solid #ccc;
      color: #000;
      font-size: 1em;
      margin: 0 0 10px 0;
      padding-bottom: 10px;
      text-transform: uppercase;
    }

    p {
      margin-top: 0;
      text-align: justify;
    }
  }
}

.right-column {
  display: inline;
  float: left;
  margin: 20px 1.0416666666666665%;
  max-width: 400px;
  width: 29.166666666666668%;
  zoom: 1;
}

.flash {
  color: #ca3b3b;
  display: block;
  font-size: 1.2em;
  padding: 20px 0;
}
