.emblem {
  background: image-url('logo-black-opacity10.svg') no-repeat 0 0;
  background-size: contain;
  width: 466px;
  height: 463px;
  position: absolute;
  bottom: -150px;
  right: -75px;
  z-index: -5;
}
