@import 'compass';

.make-request {
  background: #4a4a4a;
  @include background-image(linear-gradient(top, #f5515f 0%, #d0021b 100%));
  @include box-shadow(rgba(0, 0, 0, .25) 0 1px 6px);
  color: #fff;
  display: block;
  @include filter-gradient(#f5515f, #d0021b, vertical);
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
  text-decoration: none;
}
