@import 'compass';

body {
  background: #ededed;
  color: #474747;
  font-family: 'Myriad Pro', Arial, sans-serif;
  line-height: 1.22;
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
  padding: 1em;
  
  .logo {
    color: rgb(20, 49, 146);
    float: left;
    text-decoration: none;
    width: 50%;

    & > img {
      float: left;
      height: 100px;
    }

    h1 {
      margin-left: 150px;

      img {
        max-width: 370px;
        width: 100%;
      }

      small {
        color: rgba(20, 49, 146, 0.5);
        display: block;
        font-size: 0.45em;
        margin-left: 10px;
      }
    }
  }

  .tel {
    margin-left: 50%;
    margin-top: 1.1em;
    text-align: center;
  }
}

nav {
  background: #4a4a4a;
  @include filter-gradient(#4a4a4a, #000000, vertical);
  @include background-image(linear-gradient(top, #4a4a4a 0%, #000000 100%));

  clear: both;
  padding: 1em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 2em;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.wrapper {
  background: image-url('logo-black-opacity10.svg') no-repeat 95% 130%;
  background-size: 40%;
  padding: 1em;

  .right-column {
    float: right;
    width: 30%;
  }

  .content {
    background: #fff;
    @include box-shadow(rgba(0, 0, 0, .25) 0 1px 6px);
    margin-right: 35%;
    padding: 1em;
  }
}

footer {
  background: #000;
  color: #fff;
  padding: 1em;

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    line-height: 1.5;
    margin: 0 60% 0 0;
    padding: 0;
    position: relative;

    a {
      color: #9b9b9b;
    }

    li {
      display: inline-block;
      width: 40%;
    }
  }

  .copy {
    float: right;
    width: 40%;

    h3 {
      margin-top: 0.5em;
    }
  }
}
