@import 'compass';

body {
  background: #ededed;
  margin: 0;
  padding: 0;
}

header {
  background: #fff;
  padding: 1em;

  h1 {
    text-align: center;
  }

  .logo {
    color: rgb(20, 49, 146);
    float: left;
    width: 50%;

    small {
      color: rgba(20, 49, 146, 0.5);
      display: block;
      font-size: 0.5em;
    }
  }

  .tel {
    margin-left: 50%;
    margin-top: 1.1em;
  }
}

nav {
  background: #4a4a4a;
  @include filter-gradient(#4a4a4a, #000000, vertical);
  @include background-image(linear-gradient(top, #4a4a4a 0%,#000000 100%));

  clear: both;
  padding: 1em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 2em;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.wrapper {
  padding: 1em;

  .right-column {
    float: right;
    width: 30%;
  }

  .content {
    background: #fff;
    border: 1px solid #979797;
    @include box-shadow(rgba(0, 0, 0, .5) 0 2px 4px);
    margin-right: 35%;
    padding: 1em;
  }
}

footer {
  background: #000;
  color: #fff;
  padding: 1em;

  a {
    color: #fff;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    line-height: 1.5;
    margin: 0 60% 0 0;
    padding: 0;
    position: relative;

    a {
      color: #9b9b9b;
    }

    li {
      display: inline-block;
      width: 40%;
    }
  }

  .copy {
    float: right;
    width: 40%;

    h3 {
      margin-top: 0.5em;
    }
  }
}
