<div class="carousel-services">
  <div>
    <a href="#">
      <i class="icon-fire-alarm" data-icon="\76"><span>&nbsp;</span></i>
      <h3>Пожарная сигнализация</h3>
      <p>Установка и&nbsp;обслуживание большого количества различных систем</p>
    </a>
  </div>
  <div>
    <a href="/uslugi/sistemy-opoveshhenija-i-upravlenija-jevakuaciej">
      <i class="icon-communications" data-icon="\63"><span>&nbsp;</span></i>
      <h3>Системы оповещения и управления эвакуацией</h3>
      <p>Монтаж, обслуживание и технический аудит на&nbsp;соответствие действующих норм и правил</p>
    </a>
  </div>
  <div>
    <a href="#">
      <i class="icon-monitoring" data-icon="\6d"><span>&nbsp;</span></i>
      <h3>Мониторинг</h3>
      <p>Системы видеонаблюдения, домофоны и&nbsp;видеофоны</p>
    </a>
  </div>
  <div>
    <a href="#">
      <i class="icon-commercial-security" data-icon="\72"><span>&nbsp;</span></i>
      <h3>Охранные системы</h3>
      <p>Системы контроля и управления доступом, охрана периметра, охранная сигнализация</p>
    </a>
  </div>
  <div>
    <a href="#">
      <i class="icon-fire-sprinkler" data-icon="\70"><span>&nbsp;</span></i>
      <h3>Пожаротушение</h3>
      <p>Различные системы пожаротушения, оптимизация проектных решений по спринклерным системам</p>
    </a>
  </div>
  <div>
    <a href="#">
      <i class="icon-home-security" data-icon="\68"><span>&nbsp;</span></i>
      <h3>Коммутационное оборудование</h3>
      <p>Проектирование и монтаж структурированных кабельных систем и других слаботочных систем</p>
    </a>
  </div>
</div>
